/* =============
    Section-1
============= */

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 270px;
  left: 20px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 50px;
}