/* =============
    Section-3
============= */

#Tickets {
    padding-top: 120px;
    text-align: center;
    padding-bottom: 150px;
}

#Lottery {
    float: right;
    padding-right: 60px;
    
}

